.booknow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 20px;
    position: relative;
    flex: 0 0 auto;
    border: 1px solid;
    border-color: #ffffff;
  }
.book-now {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Nunito-ExtraLight", Helvetica;
    font-weight: 200;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1.68px;
    line-height: normal;
  }
  