/* Typographic Styles */



h1 { 
    font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif;
    font-weight: 50;
    color: #ffffff;
    font-size: 28.8px;
    letter-spacing: 2.88px;
    line-height: 1.6px;
    text-transform: uppercase;
  
  }

  /* intro text */

  h2 { 
    font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif;
    font-weight: 100;
    color: #ebebeb;
    font-size: 24px;
    letter-spacing: 0.3em;
    line-height: 1.7px;



  }
    h3 { 
      font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif;
      font-weight: 100;
      color: #e2e2e2;
      font-size: 17.8px;
      line-height: 1.7;
      letter-spacing: 1.8px;
    
     
  
    }
  
    h4 { 
      font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 100;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 2.2px;
    color: #e2e2e2;
   
    }


    h5 { 
      font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif;
      font-weight: 500;
      color: #cdcdcd;
      font-size: 14px;
      letter-spacing: 2.2px;
      line-height: 1.7;
     
  
    }

    h6 { 
      font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif;
      font-weight: 500;
      color: #cdcdcd;
      font-size: 14px;
      letter-spacing: 2.2px;
      line-height: 1.7;
     
  
    }



.momence-host_schedule-sys_row, .sc-z0wwj1-1 {
  font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif !important;
  text-transform: uppercase !important;
  font-size: 12px !important;

}
.momence-day_selection-item, .sc-g6tqw9-2 {
  font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif !important;
    text-transform: uppercase !important;
    font-size: 12px !important;
}

.momence-quick_filters, .sc-pvdkrz-0 {
  font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif !important;
  text-transform: uppercase !important;
  font-size: 12px !important;
}


 .momence-day_selection-list, .sc-1dq5nm0-1 {
    font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif !important;
    text-transform: uppercase !important;
    font-size: 12px !important;
   
}

.momence-select, .sc-cmpnl9-0 {
  font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif !important;
    text-transform: uppercase !important;
    font-size: 12px !important;
}

.momence-session_filters, .sc-d94g93-0 {
  font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif !important;
    text-transform: uppercase !important;
    font-size: 12px !important;

}

.momence-host_schedule-session_list-lite_info_container, .sc-17sezv0-2 {
  font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif !important;
  text-transform: uppercase !important;
  font-size: 12px !important;
  color: white !important;

}







/*    */
.momence-quick_filters, .sc-pvdkrz-0 {
  font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif !important;
    text-transform: uppercase !important;
    font-size: 12px !important;
}

/*    */
.momence-month-switch, .sc-1dq5nm0-0 {
  font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif !important;
    text-transform: uppercase !important;
    font-size: 12px !important;
}

/*    */
.momence-month_switch-current, .sc-1dq5nm0-1 {
  font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif !important;
  text-transform: uppercase !important;
  font-size: 12px !important;
}

/*    */
.momence-host_schedule-session_list-item {
  font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif !important;
    text-transform: uppercase !important;
    font-size: 12px !important;
}

/*    */
.momence-day_selection-item {
  font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif !important;
    text-transform: uppercase !important;
    font-size: 12px !important;
}

/* "day list " ,top of schedule */
.momence-plugin-host-schedule, .momence-host-schedule-layout {
  font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif !important;
    text-transform: uppercase !important;
    font-size: 12px !important;
 
}


/*    */
.momence-event_type_select-button, .sc-1cwk5zu-1 {
  font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif !important;
    text-transform: uppercase !important;
    font-size: 12px !important;
}

/*    */
.momence-event_type_select-button, .sc-1cwk5zu-2 {
  font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif !important;
    text-transform: uppercase !important;
    font-size: 12px !important;
}

/*    */
.momence-event_type_select-button {
  font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif !important;
    text-transform: uppercase !important;
    font-size: 12px !important;
}


/* "classes" ,top of schedule */
.momence-event_type_select, .sc-1cwk5zu-0 {
  font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif !important;
    text-transform: uppercase !important;
    font-size: 12px !important;
  
}







@media only screen and (max-width: 767px) {



        /* Text Styling */
      
        h1 { 
          font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif;
          font-weight: 100;
          color: #ebebeb;
          font-size: 18px;
          letter-spacing: 2.88px;
          line-height: 56px;
          text-transform: uppercase;
        
        }
      
        h2 { 
          font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif;
          font-weight: 100;
          color: #f0f0f0;
          font-size: 22px;
          letter-spacing: 0.12em;
      
      
        }
          h3 { 
            font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif;
            font-weight: 100;
            color: #f3f3f3;
            font-size: 18px;
            letter-spacing: 0.12em; 
            line-height: 40px;
          
           
        
          }
        
          h4 { 
            font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif;
          font-size: 16px;
          font-weight: 200;
          font-style: normal;
          line-height: normal;
          letter-spacing: 1.44px;
          color: #bfbfbf;
         
          }
      
      
          h5 { 
            font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif;
            font-weight: 100;
            color: #bfbfbf;
            font-size: 16px;
            letter-spacing: 1.44px;
            line-height: 1.9;
            
           
        
          }

          h6 { 
            font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif;
            font-weight: 100;
            color: #bfbfbf;
            font-size: 24px;
            letter-spacing: 1.44px;
            line-height: 1.9;
            
           
        
          }
      
    }
