/* Typographic Styles */

a {
  text-decoration: none;
}


h1 { 
  font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #ffffff;
  font-size: 28.8px;
  letter-spacing: 0.6em;
  line-height: 1.6px;
  text-transform: uppercase;

}

/* intro text */

h2 { 
  font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0.3em;
  line-height: 1.7px;



}
  h3 { 
    font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif;
    font-weight: 100;
    color: #ffffff;
    font-size: 17.8px;
    line-height: 1.7;
    letter-spacing: 0.3em;
  
   

  }

  h4 { 
    font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 100;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 2.4px;
  color: #ffffff;
 
  }


  h5 { 
    font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif;
    font-weight: 100;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 2.4px;
    line-height: 1.7;
    text-decoration: none;
   

  }

  h6 { 
    font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 2.4px;
    line-height: 1.7;
    text-decoration: none;
   

  }









@media only screen and (max-width: 767px) {



      /* Text Styling */
    
      h1 { 
        font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif;
        font-weight: 100;
        color: #ffffff;
        font-size: 36px;
        letter-spacing: 2.88px;
        line-height: 56px;
        text-transform: uppercase;
      
      }


      /* big headings */ 
    
      h2 { 
        font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif;
        font-weight: 100;
        color: #ffffff;
        font-size: 22px;
        letter-spacing: 2.88px;
    
    
      }

      /* headings */ 

        h3 { 
          font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif;
          font-weight: 100;
          color: #ffffff;
          font-size: 18px;
          letter-spacing: 2.88px; 
          line-height: 40px;
        
         
      
        }
      
        h4 { 
          font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: 200;
        font-style: normal;
        line-height: normal;
        letter-spacing: 2.88px;
        color: #ffffff;
       
        }
    
    
        h5 { 
          font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif;
          font-weight: 100;
          color: #ffffff;
          font-size: 16px;
          letter-spacing: 2.4px;
          line-height: 1.7;
          text-decoration: none;
          
         
      
        }

        h6 { 
          font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 2.4px;
    line-height: 1.7;
    text-decoration: none;
          
         
      
      }


    
  }
