.label {
    width: 1230px;
    height: auto;
    margin-top: 180px; 
    margin-left: 120px; 
  }
  
  .label .HEADLINE {
    

    top: 0;
    left: 0;
    font-family: "Nunito-ExtraLight", Helvetica;
    font-weight: 200;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 2.88px;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }