.momence-quick_filters, .sc-pvdkrz-0 {
    font-family: 'Montserrat', sans-serif !important;
    text-transform: uppercase !important;
    font-size: 12px !important;
}

.momence-month-switch, .sc-1dq5nm0-0 {
    font-family: 'Montserrat', sans-serif !important;
    text-transform: uppercase !important;
    font-size: 12px !important;
}

.momence-month_switch-current, .sc-1dq5nm0-1 {
    font-family: 'Montserrat', sans-serif !important;
    text-transform: uppercase !important;
    font-size: 12px !important;
}

.momence-host_schedule-session_list-item {
    font-family: 'Montserrat', sans-serif !important;
    text-transform: uppercase !important;
    font-size: 12px !important;
}

.momence-day_selection-item {
    font-family: 'Montserrat', sans-serif !important;
    text-transform: uppercase !important;
    font-size: 12px !important;
}

.momence-plugin-host-schedule, .momence-host-schedule-layout {
    font-family: 'Montserrat', sans-serif !important;
    text-transform: uppercase !important;
   
}