


/* Header Styles */
header {
   
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed; /* Keeps the header at the top when scrolling */
    top: 0;
    left: 0;
    width: 100%; /* Full-width header */
    z-index: 15;
    padding: 40px; 
    background-color: black;
    height: 80px;
}

.logo {
    display: flex;
    align-items: center;
   
}

.logo img {
    width: 20px;
    margin-right: 20px;
    margin-top: 9px;
}





/* Navigation Styles */
.nav {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-list {
    display: flex;
    list-style: none;
    align-items: center;
   
}

.nav-item {
    margin-left: 0px;
    padding: 20px; 
}








/* Hamburger Menu Styles */
.hamburger {
    display: none; /* Initially hidden, shown on smaller screens */
    flex-direction: column;
    cursor: pointer;
    position: fixed;
    right: 5px;
    top: 10px;
    z-index: 15;
    padding: 10px;
}

.hamburger span {
    height: 1px;
    width: 20px;
    background: white;
    margin: 4px 0;
    transition: all 0.3s ease;
    position: fixed;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg);
}

.nav.active ~ .close-hamburger {
    display: flex;
}

.nav.active ~ .hamburger {
    display: none;
}







