/* GLOBAL STYLES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    max-width: 100%;
}



body {
        max-width: 100%; /* Already set */
        width: 100vw; /* Ensure it covers the full width */
        overflow-x: hidden; /* Prevent horizontal scrolling */
     
      

    }


    .section {

      display: flex;
      flex-direction: column;
      width: 100vw;
      align-items: flex-start;
      gap: 80px;
      justify-content: center;
      position: relative;
      padding: 80px 120px;

   

    
    }

    #intro {
      padding-top: 80vh; 
      gap: 40px !important;
    }

.page2 {

    margin-top: 40vh;
 

   }

   .line {
    border-top: solid .1px rgb(93, 93, 93); 
   }
    
   .margintop {
    margin-top: 80px; 
   }

    .imgblock {

      position: relative;
        height: auto;  
        width: 100vw;  
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px; 
    
    
    }



.centerdiv {

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 40px; 
  text-align: center;

}



.triple {

  display: flex; 
  justify-content: center;
  gap: 180px;
   width: 100vw;
  height: auto; 
  align-items: center;
  position: relative;
 
  padding: 40px; 

}





.content-block {

  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 60px;
  padding: 20px; 
  height: 320px; 

  border: solid 0.1px rgb(138, 138, 138); 
  border-radius: 5%;



  }

  .content-block-left {

    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: left;
   
    text-align: left;
    gap: 40px;
  
    }
  
  


.schedule {
  
  display: flex;
  flex-direction: wrap;
  align-items: center;
  justify-content: center; /* Centers content within the schedule */

}

.footer {
  margin-top: 0px; 
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 100vw; 
  padding: 40px;
  margin-top: 80px; 


}






#methodblock-1 {

  display: flex;
  height: auto;
  align-items:flex-start;
  justify-items:flex-start;
  gap: 120px;
  position: relative;
  align-self: stretch;
  width: 100%;

 


}

#methodblock-2 {

  display: flex;
  height: auto;
  align-items:flex-start;
  justify-content: flex-end;
  gap: 120px;
  position: relative;
  align-self: stretch;
  width: 100%;

}







/* text fade in / EFFECTS   */




.fade-text {
  opacity: 0;
  font-size: 24px; /* Adjust size as needed */
  transition: opacity 8s ease; /* Duration of fade-in */
}

.visible {
  opacity: 1;
}


/* NAV + HEADER + HAMBURGER   */ 


header {

  width: 100vw; /* Ensure it covers the full width */
  overflow-x: hidden; 
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed; /* Keeps the header at the top when scrolling */
  top: 0;
  left: 0;
  width: 100%; /* Full-width header */
  z-index: 20;
  padding: 40px; 
  background-color: black;
  height: 80px;
}

.logo {
  display: flex;
  align-items: center;
}

#home-dis {
  visibility:hidden;
}

.logo img {
  width: 20px;
  margin-right: 20px;
  margin-top: 9px;
}

.nav {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-list {
  display: flex;
  list-style: none;
  align-items: center;
 
}

.nav-item {
  margin-left: 0px;
  padding: 20px; 
}

.hamburger {
  display: none; /* Initially hidden, shown on smaller screens */
  flex-direction: column;
  cursor: pointer;
  position: fixed;
  right: 50px;
  top: 15px;
  z-index: 12;
  padding: 10px;
}

.hamburger span {
  height: 1px;
  width: 30px;
  background: white;
  margin: 4px 0;
  transition: all 0.3s ease;
  position: fixed;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg);
}

.nav.active ~ .close-hamburger {
  display: flex;
}

.nav.active ~ .hamburger {
  display: none;
}






@media (max-width: 768px) {

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        background-color: black;

    }
    
  

    body {
       
        width: 100vw; 
        height: 100vh;/* Ensure it covers the full width */
        overflow-x: hidden; /* Prevent horizontal scrolling */
       


    }

    .schedule {
    
        margin-top: 0px; 
        border-top: solid 0.25px rgb(143, 143, 143); 
      
    }
    
.logo {
    visibility: hidden; 
}

}


.headingcenterdiv {

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100px; 
  padding: 0px 20px;

}




/* TYPOGRAPHY  */

a {
    text-decoration: none;
    color:#ffffff; 
  }
  
  
  h1 { 
    font-family: 'Pavanam', sans-serif;
    font-weight: 100;
    color: #ffffff;
    font-size: 42px;
    letter-spacing: .3em;
    line-height: 1.7px;
    text-transform: uppercase;
  }
  
 

  
  h2 { 
    font-family: 'Pavanam', sans-serif;
    font-weight: 100;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: .3em;
    line-height: 1.7px;
    text-transform: uppercase;
  }

  /* heading 3 */ 


    h3 { 
      font-family: 'Pavanam', sans-serif;
      font-weight: 100;
      color: #ffffff;
      font-size: 18px;
      line-height: 1.7;
      letter-spacing: .3em;
      text-transform: uppercase;

    }
  

   /* paragraph */ 
  
    h4 { 
      font-family: 'Lora', serif;
      font-weight: 100;
      color: #ffffff;
      font-size: 12px;
      letter-spacing: .3em;
      line-height: 1.7;
      text-decoration: none;
    }
  
    /* NAV LINKS */ 
    h5 { 
      font-family: 'Pavanam', sans-serif;
      font-weight: 100;
      color: #ffffff;
      font-size: 12px;
      line-height: 1.7;
      letter-spacing: .3em;
      text-transform: uppercase;
    }

    h6 { 
      font-family: 'Pavanam', sans-serif;
      font-weight: 100;
      color: #d3d3d3;
      font-size: 12px;
      line-height: 1.7;
      letter-spacing: .3em;
      text-transform: uppercase;
    }
  
  
  
  
    #icon {
      width: 15px;
      color: #ffffff;
      fill: #ffffff;
  }
  
  








/* MOMENCE STYLES */
.momence-host-schedule-layout {
    font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif !important;
    text-transform: uppercase !important;
  
   
}

.momence-plugin-host-schedule {

    font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif !important;
    text-transform: uppercase !important;

}

.momence-plugin-host-schedule {

    font-family: "Nunito-ExtraLight", Helvetica, Arial, sans-serif !important;
    text-transform: uppercase !important;

}

.sc-12tukza-0 {
    visibility: hidden;
}



.sc-12tukza-0.EenGE.sc-rgo30r-3.eDBrNQ {

    visibility: hidden;

}

a.sc-12tukza-0.EenGE.sc-rgo30r-3.eDBrNQ {
    visibility: hidden;  
}

/*    */
.momence-event_type_select-button, .sc-1cwk5zu-1 {
    visibility: hidden;
}

/*    */
.momence-event_type_select-button, .sc-1cwk5zu-2 {
    visibility: hidden;
}

/*    */
.momence-event_type_select-button {
    visibility: hidden;
}


/* "classes" ,top of schedule */
.momence-event_type_select, .sc-1cwk5zu-0 {
    visibility: hidden;
}

  




  @media screen and (max-width: 600px){

  .INTRO {
 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    gap: 20px;
    position: relative;
    padding-top: 400px;
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 10px; 
    margin-bottom: 80px;
    

    
  }



.hot-yoga {
  white-space: normal; /* Allow wrapping */
      display: block; /* Ensure the element respects block-level wrapping */

}

}


.BUTTON {
 
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 4px 20px 1px 20px;
  position: relative;
  border: rgb(255, 255, 255) 0.1px solid;
  
}
















.CLASS-TYPES {


  margin-top: 0px; 
  padding-left: 120px; 
  padding-right: 120px;
  padding-bottom: 80px;
  
  display: flex;
  flex-direction: column;
  align-items: end;
  
  gap: 120px;
  position: relative;

width: 100%; 



 
}





.CLASS-TYPES .div {
  display: flex;
  align-items: start;
  justify-content: space-between;
  
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;





 

}

.CLASS-TYPES .div-2 {
  display: flex;
  flex-direction: column;
  width: 220px;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  


  max-width: 100vw; /
}

.CLASS-TYPES .vector-stroke {

  position: relative;
  width: 20px;
  height: 20px;

}




.class-type-text {
  width: 220px; 

}

.class-type-title {

  width: auto;
}



@media (max-width: 768px) {


  .class-type-text {
    width: 100%; 

  }





.CLASS-TYPES-TITLE {


  max-width: 100vw; /

  }
  .CLASS-TYPES {


    max-width: 100vw; 

    padding-left: 20px;
  padding-right: 20px; 
    

    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    
  }

  .CLASS-TYPES .div {

    display: flex;
    flex-direction:column;
    flex-wrap: wrap; 
    width: 100%; 
    gap: 40px;

  }

  .CLASS-TYPES .div-2 {
    
    display: flex;
    flex-direction:column;
    flex-wrap: wrap; 
    width: 100%;
    align-items: flex-start;
    gap: 40px;
    position: relative;
  }
 

}



/*PRICES */ 


  
  





.price-group {

  display: flex; 
  flex-direction: column; 
  align-items: center;
  width: 300px;
  height: auto;
  border-top: solid 0.5px rgb(131, 131, 131); 
}





@media (max-width: 768px) {



  .price-div-2 {

      display: flex; 
      justify-content: center;
      gap: 180px;

      flex-direction:column;
    flex-wrap: wrap;
      
  
  
     
      width: 100vw;
      height: auto; 
     
      display: flex;
      align-items: center;
      position: relative;
  
      
    }

    .price-div-2 {

      display: flex; 
      justify-content: center;
  
      gap: 40px;
  
  
     
      width: 100vw;
      height: auto; 
     
     
      align-items: center;
      position: relative;
  
    
    }



}


/* IMAGES */ 



.img1 {

  position: absolute;
  height: 10%; 
  width: 10%;  
  margin-top: 5%; 
  margin-left: 50%; 
  z-index: 12; 
}


.img2 {
 
  position: absolute;
  height: 10%; 
  width: 10%;  
  margin-top: 15%; 
  margin-left: 60%; 
  z-index: 11; 
}

.img3 {

  position: absolute;
  height: 10%; 
  width: 10%;   
  margin-top: 25%; 
  margin-left: 70%; 
  z-index: 10; 
}




.fade-image {
  opacity: 0;
  width: 300px; /* Adjust size as needed */
  height: auto;
  transition: opacity 8s ease; /* Duration of fade-in */
}

.visible {
  opacity: 1;
}








/*FOOTER */ 

.footer__brand {
  visibility:visible;
  margin-bottom: 40px;
  } 

/* General Footer Styles */



.footer__divs {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 220px;
}


.footer__div {
  display: flex;
  flex-direction: column;
  width: 180px;
  gap: 20px;
  text-align: right;

}




