/* General Styles */
* {
    box-sizing: border-box; /* Ensures padding and borders are included in the width and height */
    margin: 0; /* Resets default margins */
    padding: 0; /* Resets default padding */
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    overflow-y: hidden;
    background-color: black;
}


/* Overlay Styles */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 9; /* Below the nav */
}

#overlay.active {
    opacity: 1;
    visibility: visible;
}

/* Header Styles */
header {
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; 
    z-index: 10;
    margin: 36px;
   
}

.logo {
    display: flex; /* Use flexbox to arrange items horizontally */
    align-items: center; /* Vertically center the logo and text */
    vertical-align: middle; 
}

.logo img {
    width: 25px; /* Set the desired width of the logo */
    height: auto; /* Maintain the aspect ratio of the logo */
    margin-right: 20px; /* Ensure 10px space between the logo and the text */
    vertical-align: middle; 
}

.b90hot {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #f5f5f5; /* Set the text color */
    margin: 0; /* Remove default margin */
    line-height: 1; /* Ensure line height doesn’t add extra vertical space */
    vertical-align: middle; 
    margin-bottom: 12px;
}


/* Navigation Styles */
.nav {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 3px;
    letter-spacing: 2px;
    color: #f5f5f5;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-item {
    margin-left: 20px;
}

.nav-item a {
    color: white;
    text-decoration: none;
}

.nav-item a:hover {
    text-decoration: underline;
}

/* Hamburger Menu Styles */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute; /* Position it absolutely */
    right: 5px; /* Adjust this value as needed */
    top: 10px; 
    z-index: 10;
    overflow: visible;
    transform-origin: center;
    position: fixed;
    margin-right: 40px;
    padding: 10px;
}

.hamburger span {
    height: 1px;
    width: 25px;
    background: white;
    margin: 4px 0;

    border-radius: 0px;
    transition: all 0.3s ease;
    transform-origin: center;
    position: fixed;
}

/* Hamburger Menu Active State */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg);
}

/* Show the close-hamburger when the nav is active */
.nav.active ~ .close-hamburger {
    display: flex;
}

/* Hide the hamburger when the nav is active */
.nav.active ~ .hamburger {
    display: none;
}

/* Main Content Styles */
.main-content {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('DSC00112.jpg');
    background-size: cover;
    background-position: center;
    display: block; /* Removes default inline space for images */
}

.main-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Adjust the alpha value to control darkness */
    z-index: 1;
}


/* Text Box Styles */
.text-box {
    position: absolute;
    bottom: 85px;
    margin: 36px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    opacity: 0;
    animation: fadeIn 2s forwards;
    z-index: 2;
}

.text-wrapper {
    margin-bottom: 40px;
}

/* Button Styles */
.button {
    background-color: transparent;
    animation: fadeIn 1s forwards;
    padding: 8px 20px;
    color: #f5f5f5;
    border: 0.5px solid white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 3px;
    z-index: 2;
}

/* Text Styles */
.letters {
    font-family: 'Lora', serif;
    font-size: 28px;
    font-weight: 100;
    color: #f5f5f5;
    letter-spacing: 2px;
}

/* Keyframes */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
