.yogapics {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 180px; 
  }
  
  .yogapics .photo {
    position: relative;
    width: 183.75px;
    height: 183.75px;
    object-fit: cover;
  }
  